@font-face {
    /*font-family: IranianSans;
    src: url(./fa-Iran-sans-web-bold.woff2);*/
    font-family: vazir;
    src: url(../assets/Vazir.ttf);
}
*{
    margin: 0;
    padding: 0;
    /*font-family: 'IranianSans';*/
    font-family: vazir;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
    background-color: white;
    z-index: 99;
    border: 1px solid #e5e5e5!important;
}
.links{
    margin-right: 55px;
    direction: rtl;
}
ul li{
    display: inline;
    padding-left: 20px;
    color: gray;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color: gray;
    padding: 5px;
}
li img{
    margin-right: 15px;
}
.submenu-links{
    display: none;
}
.links ul li:hover .submenu-links{
    display: block;
    position: absolute;
    border-radius: 15px;
    top: 50px;
    right: 220px;
}
.links ul li:hover .submenu-links ul{
    display: block;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 1px 0.5px #8d8b8b;
}
.links ul li:hover .submenu-links ul li{
    display: block;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: right;
}
.links ul li:hover .submenu-links ul li a:hover{
    color: #04D16F;
    font-weight: 900;
}
.logo{
    margin-right: 150px;
    margin-top: 10px;
}
.section-one{
    width: 100%;
    height: 80vh;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactus{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -130px;
    gap: 10px;
}
.right{
    background-color: white;
    width: 43%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    padding: 20px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8px 9.6px 0px;
}
.right input{
    width: 100%;
    border-radius: 9px;
    padding: 8px;
    padding-right: 40px;
    background: rgb(232, 232, 232);
    border: none;
}
.right svg{
    position: absolute;
    top: 79%;
    transform: translate(-9px, -48%);
}
.right .address{
    margin: 15px 0px;
    padding-left: 30px;
}
.right .address h2{
    font-size: 17px;
}
.right .address p{
    color: #8d8b8b;
}
.left{
    position: -webkit-sticky;
    position: sticky;
    top: 95px;    
    background-color: white;
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 5px;
    text-align: center;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8px 9.6px 0px;
}
.left h1{
    font-size: 17px;
    margin-bottom: 8px;
}
.left h2{
    margin-top: 8px;
    font-size: 17px;
    color: #04D16F;
}
.left p{
    font-size: 16px;
}
.section-two{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    direction: rtl;
}
.section-two div{
    margin: 15px 200px;
}
.section-two div h2{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    color: #04D16F;
}
.section-two div p{
    color: #8d8b8b;
    font-size: 16.5px;
    font-weight: 100;
}
.section-two div a{
    text-decoration: none;
    color: #8d8b8b;
}
.section-three{
    width: 100%;
    height: fit-content;
}
.aboutSendLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    height: fit-content;
}
.aboutSendLink h2{
    margin: 0;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    height: fit-content;
}
.btn1{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: #04D16F;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}
.login input{
    background-color: white;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    width: 10vw;
    outline: none;
    margin-left: -25px;
    margin-bottom: 40px;
    padding: 10px 40px;
    text-align: right;
}
.content .login .z{
    position: relative;
}
.content .login .z svg{
    position: absolute;
    top: 100px;
}
.footer{
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 0.5px solid #e5e5e5;
}
.footer .footer-links{
    margin: 40px 0px;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-bottom: 25px;
}
.social-media img{
    width: 30px;
    height: 30px;
}
.badges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9vw;
    margin-bottom: 50px;
}
.badges img{
    width: 130px;
    height: 130px;
}