@font-face {
    /*font-family: IranianSans;
    src: url(./fa-Iran-sans-web-bold.woff2);*/
    font-family: vazir;
    src: url(../assets/Vazir.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: vazir;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    z-index: 99;
}
.links{
    margin-right: 35px;
    direction: rtl;
}
ul li{
    display: inline;
    padding-left: 5px;
    color: black;
    font-size: 1vw;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px;
}
ul li a:hover{
    color: #04D170;
}
.logo{
    margin-right: 45px;
    margin-top: 10px;
}
.section-one{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 61vh;
}
.one-right{
    display: flex;
    width: 37%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    direction: rtl;
    padding: 50px;
    padding-top: 0px;
    gap: 20px;
}
.one-right h2{
    font-weight: 600;
    font-size: 22px;
}
.one-right p{
    font-size: 14px;
    color: #8B8C98;
}
.one-right input{
    width: 95%;
    padding: 12px;
    border: 1px solid #EBEBEA;
    border-radius: 5px;
    color: #B4B4B4;
    font-size: 15px;
}
.one-right form p{
    margin: 15px 0px;
}
.one-right form svg{
    position: absolute;
    top: 16.6;
    right: 34.5vw;
    color: #EBEBEA;
}
.span-one{
    color: #7A7EFF;
}
.span-two{
    color: #04D170;
}
.one-right form button{
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 15px;
    background-color: #A3A3A3;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.one-left{
    display: flex;
    width: 63%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    direction: rtl;
    background-color: #061D3F;
    padding: 30px;
}
.one-left img{
    width: 250px;
    height: 250px;
}
.one-left h1{
    color: white;
    margin-right: 18px;
    margin-top: -45px;
    font-size: 2.1rem;
}
.one-left p{
    color: white;
    margin-right: 18px;
    margin-top: 15px;
    font-size: 14.5px;
}
.simple-carousel {
    position: relative;
    width: 95%;
    height: 29%;
    margin: auto;
    margin-top: 25px;
  }
  
.simple-carousel img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.simple-carousel > .simple-carousel-show { display: block; }

.section-two{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 120px;
    width: 100%;
    height: 30vh;
}
.benefit{
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: white;
    border-radius: 18px;
    padding: 0px 20px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5.6px 13.6px 0px !important;
}
.benefit img{
    padding-top: 5px;
    width: 130px;
    height: 120px;
}
.benefit h2{
    font-size: 22.12px !important;
    margin: 10px 0px;
}
.benefit p{
    color: rgb(97, 100, 117) !important;
    margin: 2px;
}
.section-three{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: white;
}
.necessary{
    width: 50%;
    height: 100%;
    padding: 150px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    direction: rtl;
}
.necessary h2{
    font-size: 22px;
}
.necessary ul li{
    display: block;
    margin-top: 15px;
}
.necessary-img{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.necessary-img img{
    width: 500px;
    padding-left: 150px;
}